.videoPage {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 25px 7% 25px 7%;
}

.videoPageLeft {
  flex: 0.6;
  height: auto;
}



.embedVideo {

  width: 100%;
  height: 100%;
}


.videoPageRight {
    flex: 0.4;
  }