.videoPage {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 25px 7% 25px 7%;
}

.videoPageLeft {
  flex: 0.6;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.embedVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoPageTags {
  font-weight: 400;
  font-size: 12px;
  margin-top: 15px;
}

.videoPageTitle {
  font-weight: 400;
  font-size: 18px;
  color: #030303;
}

.videoPageDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.videoPageDetails > p {
  font-weight: 400;
  font-size: 14px;
  color: #606060;
}

.videoPageRight {
  flex: 0.4;
}
