.videoPage {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding-top: 25px;
}

.videoPageVideoInfo {
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.embedVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
