.videoPage {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 25px 100px 25px 100px;
}

.videoPageVideoInfo {
}

.embedVideo {
  width: 100%;
  height: 50.625vw; /* 90*9/16 */
  margin-left: 5vw;
  margin-right: 5vw;
}
