.videoPage {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 25px 7% 25px 7%;
}

.videoPageLeft {
  flex: 0.7;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.embedVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.videoPageRight {
    flex: 0.3;
  }