.channelRow {
  display: flex;
  align-items: center;
  width: 70%;
}

.channelRowText {
  display: flex;
  flex-direction: column;
}

.channelRow > p {
  color: #606060;
  font-size: small !important;
}
