.recomendedVideos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
}

.recomendedVideosBig {
  flex: 0.9;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
}

.recomendedVideos > h2,
recomendedVideosBig > h2 {
  margin-left: 5px;
  background-color: lightgreen;
}
