.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebarRowMini {
  padding: 10px 20px;
  display: flex;
}

.sidebarRowMini > .sidebarRowIcon {
  color: #606060;
  font-size: 25px !important;
}

.sidebarRowMini > .sidebarRowTitle {
  margin: 0;
}

.sidebarRowIcon {
  color: #606060;
  font-size: large !important;
}

.sidebarRowTitle {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRowIcon {
  color: red;
}
