.videoRow {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 700px;
  cursor: pointer;
}

.videoRow > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}

.videoRowText {
  margin-left: 14px;
}

.videoRowHeadline {
  font-size: 12px;
  color: #606060;
}

.videoRowDesc {
  margin-top: 20px;
  font-size: 12px;
  color: #606060;
}

.videoRowSubs {
  background-color: lightgrey;
  padding: 2px;
}

.videoRowSubsNumber {
  font-weight: bold;
  color: rgb(84, 157, 211);
}
