.videoCard {
  width: 270px;
  margin-bottom: 40px;
}

.videoCardThumbnail {
  height: 140px;
  width: 250px;
}

.videoCardInfo{
    display: flex;
    margin-top:10px;
    padding-right: 30px;
}

.videoCardText{
    margin-left: 15px;
}