.recomendedVideos {
  flex: 0.8;
}

.recomendedVideosBig {
  flex: 0.9;
}

.recomendedVideos,
.recomendedVideosBig {
  background-color: #f9f9f9;
  padding: 20px 20px;
  padding-bottom: 0;
}

.recomendedVideos > h2,
.recomendedVideosBig > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedVideosVideo{
  display: flex;
  flex-wrap: wrap;
}
