.sidebar{
    flex: 0.2;
}

.sidebarMini{
    flex: 0.1;
    background-color: #f9f9f9;
}

.sidebar.sidebarMini > hr{
    height: 1px;
    border: 0;
    background-color: #fcfcfc;
    margin-top: 10px;
    margin-bottom: 10px;
}