.sidebar{
    flex: 0.2;
}

.sidebarMini{
    flex: 0.1;
    background-color: lightgrey;
}

.sidebar.sidebarMini > hr{
    height: 1px;
    border: 0;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-bottom: 10px;
}