.searchPage{
    flex: 0.8;
}

.searchPageBig{
    flex: 0.9;
}

.searchPageFilter{
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
}

.searchPageFilter >h2{
    margin-left: 10px;
}